<div class="row mt-3">
    <div class="col-4">
       <app-menu-dashboard></app-menu-dashboard>
        
    </div>
        <div class="col-8">
        <h1>Bienvenue dans l'administration TechStore</h1>
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">Produits</h5>
                        <p class="card-text">Gérer les produits du catalogue</p>
                        <a routerLink="/admin/product/liste" class="btn btn-light">Voir les produits</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">Commandes</h5>
                        <p class="card-text">Suivre les commandes clients</p>
                        <a href="#" class="btn btn-light">Voir les commandes</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <h5 class="card-title">Clients</h5>
                        <p class="card-text">Gérer les comptes clients</p>
                        <a href="#" class="btn btn-light">Voir les clients</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</div>
