<div class="row mt-3">
    <div class="col-4">
        <app-menu-dashboard></app-menu-dashboard>
        
    </div>
        <div class="col-8">
        <h1>Gestion des produits</h1>
        <div>
            <a routerLink="/admin/product/ajouter" class="btn btn-primary">Ajouter un produit</a>
        </div>
         <table class="table table-striped mt-3">
             <thead>
                 <tr>
                     <th>Image</th>
                     <th>Nom</th>
                     <th>Catégorie</th>
                     <th>Prix</th>
                     <th>Actions</th>
                 </tr>
             </thead>
             <tbody>
             <tr *ngFor="let product of products">
                 <td>
                     <img [src]="product.image" [alt]="product.title" class="admin-product-image">
                 </td>
                 <td>
                     {{ product.title }}
                 </td>
                 <td>
                     {{ product.category | titlecase }}
                 </td>
                 <td>
                     ${{ product.price }}
                 </td>
                 <td>
                     <a href="/" class="btn btn-warning">Modifier</a>
                    <a href="/" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
            </tbody>
         </table>
    </div>
</div>
