<div class="card">
    <h2 class="card-header">Administration</h2>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a routerLink="/admin/product/liste">
                <i class="fas fa-box"></i> Produits
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <i class="fas fa-shopping-bag"></i> Commandes
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <i class="fas fa-users"></i> Clients
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <i class="fas fa-chart-bar"></i> Statistiques
            </a>
        </li>
    </ul>
</div>
